* {
  box-sizing: border-box;
}

body {
  margin: 0px !important;
  padding: 0px !important;

  font-family: Lato, Arial, Helvetica, sans-serif;
}

/* for EDGE browser */
h1, h2, h3, p, ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  border: 0 !important;
}

ul {
  list-style-type:none !important;
}
/* for EDGE browser */

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.fixed-width {
  width: 1020px;
  margin: auto;
}

.clearfix:after,
.clearfix:before {
  content: " ";
  display: block;
  clear: both;
}

/* 
=========================
navigation bar
=========================
*/

.nav {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  height: 95px;
  
  background-color: #2d303a;

  border-bottom: solid 6px #323746;
}

.nav h1 {
  padding-top: 32px;
  
  color: #f2f2f2;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

.nav h1 span {
  color: #f06c64;
}

.nav ul {
  display: flex;
}

.nav ul * {
  letter-spacing: -0.29px;
}

.nav ul li {
  padding-top: 40px;
}

.nav li a {
  color: #f2f2f2;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav li:first-child a {
  color: #f06c64;
}

.nav li:first-child a:hover {
  color: #f2f2f2;
}

.nav li a:hover {
  color: #f06c64;
}

.nav .menu-dot {
  padding-left: 13px;
  padding-right: 14px;
}

.nav .menu-dot span {
  vertical-align: baseline;
  color: #494e62;
}

/* 
=========================
slider section
=========================
*/
.slider {
  padding-right: 40px;
  padding-left: 40px;
  height: 600px;
  
  border-bottom: solid 6px #ea676b;
  background-color: #f06c64;
}

.slider-container {
  position: relative;
}

.slider-container .previous {
  position: absolute;
  top: 281px;
  left: 0;

  cursor: pointer;
}

.slider-container .next {
  position: absolute;
  top: 281px;
  right: 0;

  cursor: pointer;
}

.vertical-iphone {
  position: relative;
  top: 52px;
  left: 70px;

  width: 1px;
}

.vertical-iphone .screen {
  position: absolute;
  left: 15px;
  top: 65px;
  z-index: 100;
  
  width: 190px;
  height: 335px;
  
  background-image: url("./assets/img/slider/vertical-iphone-image.png");
}

.vertical-iphone .phone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  
  width: 218px;
  height: 458px;

  background-image: url("./assets/img/slider/iphone-vertical.png");
}

.vertical-iphone .shadow {
  position: absolute;
  top: 1px;
  left: 2px;
  z-index: 10;
  
  width: 240px;
  height: 482px;
  
  background-image: url("./assets/img/slider/vertical-shadow.png");
}

.horizontal-iphone {
  position: relative;
  top: 173px;
  left: 384px;
  width: 1px;
}

.horizontal-iphone .screen {
  position: absolute;
  top: 15px;
  left: 61px;
  z-index: 100;
  
  height: 188px;
  width: 333px;
  
  background-image: url("./assets/img/slider/horizontal-iphone-image.png");
}

.horizontal-iphone .phone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  
  height: 218px;
  width: 458px;
  
  background-image: url("./assets/img/slider/iphone-horizontal.png");
}

.horizontal-iphone .shadow {
  position: absolute;
  top: 1px;
  left: 2px;
  z-index: 10;
  
  height: 240px;
  width: 483px;
  
  background-image: url("./assets/img/slider/horizontal-shadow.png");
}

/* 
=========================
services section
=========================
*/
.services {
  height: 500px;
  padding-top: 63px;
  padding-right: 40px;
  padding-left: 40px;
  
  border-bottom: solid 6px #fff;
  background-color: #f2f2f2;
}

.services .description {
  margin-bottom: 42px;
}

.services .description h2 {
  padding-bottom: 21px;

  font-weight: bold;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.3px;
}

.services .description p {
  line-height: 30px;
  font-size: 18px;
  color: #666d89;
  letter-spacing: -0.08px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.service-item {
  width: 32%;
  margin-left: 18px;
  margin-bottom: 29px;
}

.service-item:first-child {
  margin-left: 0;
}

.service-item .icon {
  float: left;
  width: 25%;

  margin-top: 4px;
}

.service-item .text {
  float: left;
  width: 75%;
  padding-left: 5px;
}

.service-item div h3 {
  padding-bottom: 14px;
  
  font-size: 18px;
  font-weight: bold;
  color: #666d89;
}

.service-item p {
  color: #666d89;
  line-height: 21px;
  font-size: 12px;
  text-align: justify;
}